input.json
anemoi_cpp/
anemoi_js/
anemoi.r1cs
anemoi.sym
witness.wtns
jive_cpp/
jive_js/
jive.r1cs
jive.sym
.idea/
circom/
node_modules/
compiled/
input2.json
input3.json
input4.json
input5.json
input6.json
input7.json
input8.json